<mat-form-field>
  <mat-label>Check In - Check Out</mat-label>
  <mat-date-range-input [rangePicker]="picker">
    <input
      matStartDate
      [formControl]="checkInFormControl"
      placeholder="Start date"
    />
    <input
      matEndDate
      [formControl]="checkOutFormControl"
      placeholder="End date"
    />
  </mat-date-range-input>
  <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-date-range-picker #picker></mat-date-range-picker>
</mat-form-field>
