<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <mat-form-field class="mat-form-field">
        <input matInput placeholder="Email" formControlName="email" type="email">
        <mat-error *ngIf="loginForm.get('email')?.hasError('required')">Email is required</mat-error>
        <mat-error *ngIf="loginForm.get('email')?.hasError('email')">Invalid email format</mat-error>
    </mat-form-field>

    <mat-form-field class="mat-form-field">
        <input matInput placeholder="Password" formControlName="password" type="password">
        <mat-error *ngIf="loginForm.get('password')?.hasError('required')">Password is required</mat-error>
        <mat-error *ngIf="loginForm.get('password')?.hasError('minlength')">Password must be at least 6
            characters</mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">Submit</button>
</form>