/* You can add global styles to this file, and also import other style files */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --container-small: 1280px;
  --container-form: 25rem;
  --custom-height-1: 40rem;
  --custom-height-2: 5rem;
  --space-style-1: 1rem;
  --background-color-1: #f2f3f3;
}

.container {
  width: var(--container-small);
}

.mat-form-field {
  width: 100%;
}
